<html>
<head lang="en">
    <meta charset="utf-8">
</head>
<body>
    <p>Card : 5104015555555558</p>
    <p>Card : 5104015555555558 / 5104 0600 0000 0008    </p>

    <form action="charge" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_dSw0oiTYzkIoDn"
            data-amount="50000"
            data-name="Event Ticket"
            data-description="Purchase Description"
            data-image="vk.jpg"
            data-netbanking="true"
            data-description="Test Ticket Booking"
            data-prefill.name=""
            data-prefill.email=""
            data-prefill.contact=""
            data-notes.shopping_order_id="1509">
        </script>
        <input type="hidden" name="shopping_order_id" value="21">
    </form>
</body>
</html>
