<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <!-- <script src="jquery-2.1.4.js"></script> -->
  <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
  </head>
  <body>
  <div id="navbar"><span>Red Stapler - Geolocation API</span></div>
  <div id="wrapper">
    <button id="location-button">Get User Location</button>
    <div id="output"></div>
  </div>
  
  <script>

          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position){
              console.log(position);
            });
        }
  </script>
  </body>
</html>