<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static',filename='assets/final_aag_logo.png') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/alumni_signup.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main_header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/all.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="{{url_for('static',filename='css/sweetalert2.min.css')}}">
  <script src="{{url_for('static',filename='js/platform.js')}}" async defer></script>
  <meta name="google-signin-client_id" content="375235053283-1hlbi0eqkv7qdrph33qcd0kdna0j4beg.apps.googleusercontent.com">
  <title>Sign Up | Alumni</title>
 

  <script type="text/javascript">
    var onloadCallback = function() {
      widgetId1 = grecaptcha.render('html_element', {
        'sitekey' : '6Le8MMsUAAAAABojhfaZf_CODZM13YJPo8oPzEUP'
      });
    };
  </script>
  <style>
    #html_element {
      margin-top: 0px;
    }
  </style>
</head>
<body>
  {% extends "main_header.html" %}
  {% block content %}
  <!-- <div>{{colleges}}</div> -->
  <div id="loader_container">
    <div id="loader">
    <img src="{{url_for('static',filename='assets/loading.gif')}}">
    </div>
  </div>

  <div class="login-container">
    
    <div class="left-login">
      <img src="{{url_for('static',filename='assets/signup_svg1.svg')}}" alt="">
    </div>
    <div class="right-login">
      <form>
        <h4>Alumni Sign Up</h4>
        
        <div class="main-form-container">
            <div class="form-part-1" id="form-part-1">
              <div class="form-outer-f-1"> 
                <div class="form-inner-f-1">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="floating-input" style="">
                        <input required id='first_name' type="text" style="width: 140px;position: relative;"/>
                        <label for="first_name">First Name</label>
                    </div> 
                    <div class="floating-input">
                        <input required id='last_name' type="text" style="width: 140px;position: relative;" />
                        <label for="last_name">Last Name</label>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
              </div>
              <div style="justify-content: center;width:100%;">
                <div class="floating-input" style="margin: 0 auto;">
                  <input required id='email' type="text" class="form-1-field" />
                  <label for="email">Email</label>
                </div>
              </div>

              <div class="floating-input" style="margin-bottom: 0;">
                <select required id='country' onchange="change_country(this.value);">
                  {% for i in countries %}
                    {% if i[2] == "India" %}
                    <option value="{{i[2]}}" selected>{{i[2]}}</option>
                    {% else %}
                    <option value="{{i[2]}}">{{i[2]}}</option>
                    {% endif %}
                  
                  {%endfor%}
                  </select>
                <label for="country">Country</label>
              </div>

              <div class="form-outer-f-1" style="margin: 0 auto;"> 
                <div class="form-inner-f-1" style="margin: 0 auto;padding:0;">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="floating-input" style="">
                        <input required id='country_code' type="text" style="width: 100px;position: relative;"/>
                        <label for="country_code">Country Code</label>
                    </div> 
                    <div class="floating-input">
                        <input required id='mobile_number' type="text" style="width: 200px;position: relative;" />
                        <label for="mobile_number">Mobile Number</label>
                    </div>
                </div>
              </div>
                <div class="floating-input" style="margin-top: 0 !important;">
                  <input required id='password' type="password" class="form-1-field" onfocus="document.getElementById('password_suggestion_box').style.display = 'block';" onblur="document.getElementById('password_suggestion_box').style.display='none';"/>
                  <label for="password">Password</label>
                </div>
                <div class="floating-input">
                  <input required id='c_password' type="password" class="form-1-field" />
                  <label for="c_password">Confirm Password</label>
                </div> 
                  <div class="input-button">
                    <button class="button ripple" type="button" id="mv-form-2-btn" onclick="next_btn('form-part-1','form-part-2');">NEXT</button>
                  </div>
                  <div id="password_suggestion_box" style="position:absolute;width:250px;text-align: left;top: 430px;left:440px;background-color: #0088ff;color: aliceblue;padding:15px;border-radius: 10px;transition:opacity 1s ease;display:none;">
                    <li style="padding-bottom: 5px;">Atlease One UpperCase Letter.</li>
                    <li style="padding-bottom: 5px;">Atlease One Digit.</li>
                    <li style="padding-bottom: 5px;">Atlease One Special Character.</li>
                    <li>Password Length 8 To 20.</li>
                  </div>
            </div>
            <br>
            <div class="form-part-2" id="form-part-2">
                <div class="floating-input">
                    <select required id='college' onchange="change_college(this.value);">
                      {% for i in colleges %}
                      <option value="{{i[0]}}">{{i[1]}}</option>
                      {%endfor%}
                      </select>
                    <label for="email2">College</label>
                  </div>

                  <div class="floating-input">
                    <select required id='degree'>
                      </select>
                    <label for="email2">Degree</label>
                  </div>
                  <div class="floating-input">
                    <input required id='enrollment_no' type="number" class="form-1-field" />
                    <label for="enrollment_no">Enrollment Number</label>
                  </div>
            
                  <div class="form-outer-f-1" style="margin-top: -20px;"> 
                    <div class="form-inner-f-1">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="floating-input">
                            <input required id='enter_year' type="number" style="width: 140px;position: relative;"/>
                            <label for="enter_year">Entry Year</label>
                        </div> 
                        <div class="floating-input">
                            <input required id='passout_year' type="number" style="width: 140px;position: relative;" />
                            <label for="passout_year">Passout Year</label>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                  </div>

                  <div class="floating-input" style="margin-top: -20px;">
                    <div id="html_element"></div>
                    
                  </div>
                  <div class="boxes" style="width: 300px;margin-top:-10px;margin-bottom:20px;">
                    <input type="checkbox" id="box-1">
                    <label for="box-1" style="padding-left: 35px;text-align: left;">I agree to the <a href="#"><b>Terms & Conditions</b></a> as well as the <a href="#"><b>Privacy Policy</b></a>.</label>
                  
                  </div>
                  

                  <div class="input-button" style="width:400px;display: flex;text-align: center;justify-content: center;">
                    <button class="button ripple" type="button" onclick="prev_btn('form-part-2','form-part-1')">PREVIOUS</button> &nbsp;&nbsp;
                    <button class="button ripple" type="button" onclick="signup();">SIGN UP</button>
                    <!-- javascript:alert(grecaptcha.getResponse(widgetId1)); -->
                  </div>
            </div>
            <div class="form-part-3" id="form-part-3">
              
                
                  
                  
            </div>
            <div class="form-part-4" id="form-part-4">
                
            </div>
        </div>
        
        <br/>
        <p>Already Have An Account ? <a href="#">Log In Here</a></p>
      </form>
      
   
    </div>

  </div>
<script src="../static/js/jquery-3.4.1.min.js"></script>
<script src="{{url_for('static',filename='js/alumni_signup.js')}}"></script>
  <script>
      initialize_form();
    
  </script>

  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
  async defer>
  
</script>
<script src="{{url_for('static',filename='js/sweetalert2.all.min.js')}}"></script>
  {% endblock %}
</body>
</html>