<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static',filename='assets/final_aag_logo.png') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/alumni_signup.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main_header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/all.css') }}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/sweetalert2.min.css')}}">

  <title>Mobile Verification | Alumni Association Of Goa</title>
  <style>
      .welcome_email_container {
          position: relative;
          width: 80%;
          margin: 10px auto;
          height:500px;
          padding: 50px;
          display: flex;
          
      }
  </style>
  <script type="text/javascript">
    var onloadCallback = function() {
      widgetId1 = grecaptcha.render('html_element', {
        'sitekey' : '6Le8MMsUAAAAABojhfaZf_CODZM13YJPo8oPzEUP'
      });
    };
    
  </script>
</head>
<body>
    <!-- javascript:alert(grecaptcha.getResponse(widgetId1)); -->
  {% extends "main_header.html" %}
  {% block content %}


  <div id="loader_container">
    <div id="loader">
    <img src="{{url_for('static',filename='assets/loading.gif')}}">
    </div>
  </div>

  <div style="position: fixed;bottom:10px;left:10px;padding:10px 0;margin:10px auto;width:300px;height:auto;z-index:1000;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        
        {% for message in messages %}
        <div style="font-size:18px;background-color: #fff;color: black;padding: 15px 30px;margin:5px 0;box-shadow:1px 1px 3px grey,-1px -1px 3px grey;border-radius:30px;" id="div_{{loop.index}}"> 
        <p style="float: right;"><i style="cursor:pointer" class="fas fa-times" onclick="document.getElementById('div_{{loop.index}}').style.display='none';"></i></p>
        <p>{{ message }}</p>
        </div>
      
        {% endfor %}
    
    
    {% endif %}

    {% endwith %}
  </div>
  
  <div class="welcome_email_container">
    
      <div style="width: 50%;">
    
                <img src="{{url_for('static',filename='assets/email_verify.png')}}" style="width: 100%;height:500px;" alt="">
                
                    
      </div>
      <div style="width: 50%;text-align: center;">
     
        <div id="mobile_verification_container" style="margin: 50px 0;display:block;">
      <p style="padding: 20px 0;font-size: 30px;line-height:70px;">Enter OTP Sent To '+{{session['college_profile_country_code']}} {{session['college_profile_mobile_no']}}'</p>
      <div class="form-outer-f-1" style="margin: 0 auto;"> 
         
          <div class="floating-input" id="otp_container">
              <input required id='otp' type="number" class="form-1-field" style="letter-spacing: 5px;" maxlength="6" size="6" />
              <label for="otp">Your OTP</label>
              
            </div> 
            <div style="text-align: center;display: flex;justify-content: center;display: block ;">
                <button class="button ripple" type="button" onclick="verify_sms();" id="verify_btn">VERIFY</button> &nbsp;&nbsp;&nbsp;
                <button class="button ripple" type="button" onclick="send_sms();" id="resend_btn">RESEND</button>
            </div>
         
        </div>
     
          </div>
      
          
    </div>
  </div>
  <script>
    
   
    function verify_sms()
    {
       
        var otp = document.getElementById('otp').value;

        
        
            var xmlhttp = new XMLHttpRequest();
         
            var temp = "/college/profile/update/mobile/";
            xmlhttp.open("GET", temp+"?mode=1&otp="+otp, false);
            xmlhttp.send(null);
            var res = xmlhttp.responseText;
            var obj = JSON.parse(res);
          
            if(obj.res == 1)
            {
              Swal.fire({
                icon: 'success',
                title: obj.msg,
              }); 
              isMobileVerified = 1;
              window.location.href = "../../../../college/profile/edit/1";
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: obj.msg,
                  }); 
            }
    }


    function send_sms()
    {
       
        var otp = document.getElementById('otp').value;

        
        
            var xmlhttp = new XMLHttpRequest();
         
            var temp = "/college/profile/update/mobile/";
            xmlhttp.open("GET", temp+"?mode=2", false);
            xmlhttp.send(null);
            var res = xmlhttp.responseText;
            var obj = JSON.parse(res);
          
            if(obj.res == 1)
            {
              Swal.fire({
                icon: 'success',
                title: obj.msg,
              }); 
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: obj.msg,
                  }); 
            }
    }

        
   
   

  </script>
  <script src="{{url_for('static',filename='js/sweetalert2.all.min.js')}}"></script>
  
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
  async defer></script>

  {% endblock %}
</body>
</html>