<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ | Alumni Association Of Goa</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/final_aag_logo.png') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/main_header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/faq.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<style>
    .page-title {
        text-align: center;
        font-size: 50px;
        margin-bottom: 10px;
    }
</style>
</head>
<body>
    {% extends "main_header.html" %}
    {% block content %}
    <p class="page-title">FAQ's</p>
    <div class="accordion js-accordion">
        <div class="accordion__item js-accordion-item">
          <div class="accordion-header js-accordion-header">Panel 1</div> 
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
          </div>
            <div class="accordion js-accordion">
              <div class="accordion__item js-accordion-item">
                 <div class="accordion-header js-accordion-header">Sub Panel 1</div> 
                 <div class="accordion-body js-accordion-body">
                   <div class="accordion-body__contents">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
                   </div><!-- end of sub accordion item body contents -->
                 </div><!-- end of sub accordion item body -->
              </div><!-- end of sub accordion item -->
              <div class="accordion__item js-accordion-item">
                 <div class="accordion-header js-accordion-header">Sub Panel 2</div> 
                 <div class="accordion-body js-accordion-body">
                   <div class="accordion-body__contents">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
                   </div><!-- end of sub accordion item body contents -->
                 </div><!-- end of sub accordion item body -->
              </div><!-- end of sub accordion item -->
            </div><!-- end of sub accordion -->
          </div
          </div><!-- end of accordion body -->
        </div><!-- end of accordion item -->
        <div class="accordion__item js-accordion-item active">
          <div class="accordion-header js-accordion-header">Panel 2</div> 
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
          </div>
            <div class="accordion js-accordion">
              <div class="accordion__item js-accordion-item">
                 <div class="accordion-header js-accordion-header">Sub Panel 1</div> 
                 <div class="accordion-body js-accordion-body">
                   <div class="accordion-body__contents">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
                   </div><!-- end of sub accordion item body contents -->
                 </div><!-- end of sub accordion item body -->
              </div><!-- end of sub accordion item -->
              <div class="accordion__item js-accordion-item">
                 <div class="accordion-header js-accordion-header">Sub Panel 2</div> 
                 <div class="accordion-body js-accordion-body">
                   <div class="accordion-body__contents">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
                   </div><!-- end of sub accordion item body contents -->
                 </div><!-- end of sub accordion item body -->
              </div><!-- end of sub accordion item -->
            </div><!-- end of sub accordion -->
          </div><!-- end of accordion body -->
        </div><!-- end of accordion item -->
          <div class="accordion__item js-accordion-item">
          <div class="accordion-header js-accordion-header">Panel 3</div> 
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
          </div>
            <div class="accordion js-accordion">
              <div class="accordion__item js-accordion-item">
                 <div class="accordion-header js-accordion-header">Sub Panel 1</div> 
                 <div class="accordion-body js-accordion-body">
                   <div class="accordion-body__contents">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
                   </div><!-- end of sub accordion item body contents -->
                 </div><!-- end of sub accordion item body -->
              </div><!-- end of sub accordion item -->
              <div class="accordion__item js-accordion-item">
                 <div class="accordion-header js-accordion-header">Sub Panel 2</div> 
                 <div class="accordion-body js-accordion-body">
                   <div class="accordion-body__contents">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
                   </div><!-- end of sub accordion item body contents -->
                 </div><!-- end of sub accordion item body -->
              </div><!-- end of sub accordion item -->
            </div><!-- end of sub accordion -->
          </div><!-- end of accordion body -->
        </div><!-- end of accordion item -->
           <div class="accordion__item js-accordion-item">
          <div class="accordion-header js-accordion-header">Panel 4</div> 
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
          </div>
            <div class="accordion js-accordion">
              <div class="accordion__item js-accordion-item">
                 <div class="accordion-header js-accordion-header">Sub Panel 1</div> 
                 <div class="accordion-body js-accordion-body">
                   <div class="accordion-body__contents">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
                   </div><!-- end of sub accordion item body contents -->
                 </div><!-- end of sub accordion item body -->
              </div><!-- end of sub accordion item -->
              <div class="accordion__item js-accordion-item">
                 <div class="accordion-header js-accordion-header">Sub Panel 2</div> 
                 <div class="accordion-body js-accordion-body">
                   <div class="accordion-body__contents">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
                   </div><!-- end of sub accordion item body contents -->
                 </div><!-- end of sub accordion item body -->
              </div><!-- end of sub accordion item -->
            </div><!-- end of sub accordion -->
          </div><!-- end of accordion body -->
        </div><!-- end of accordion item -->
           <div class="accordion__item js-accordion-item">
          <div class="accordion-header js-accordion-header">Panel 5</div> 
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
          </div>
            <div class="accordion js-accordion">
              <div class="accordion__item js-accordion-item">
                 <div class="accordion-header js-accordion-header">Sub Panel 1</div> 
                 <div class="accordion-body js-accordion-body">
                   <div class="accordion-body__contents">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
                   </div><!-- end of sub accordion item body contents -->
                 </div><!-- end of sub accordion item body -->
              </div><!-- end of sub accordion item -->
              <div class="accordion__item js-accordion-item">
                 <div class="accordion-header js-accordion-header">Sub Panel 2</div> 
                 <div class="accordion-body js-accordion-body">
                   <div class="accordion-body__contents">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
                   </div><!-- end of sub accordion item body contents -->
                 </div><!-- end of sub accordion item body -->
              </div><!-- end of sub accordion item -->
            </div><!-- end of sub accordion -->
          </div><!-- end of accordion body -->
        </div><!-- end of accordion item -->
           <div class="accordion__item js-accordion-item">
          <div class="accordion-header js-accordion-header">Panel 6</div> 
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
          </div>
            <div class="accordion js-accordion">
              <div class="accordion__item js-accordion-item">
                 <div class="accordion-header js-accordion-header">Sub Panel 1</div> 
                 <div class="accordion-body js-accordion-body">
                   <div class="accordion-body__contents">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
                   </div><!-- end of sub accordion item body contents -->
                 </div><!-- end of sub accordion item body -->
              </div><!-- end of sub accordion item -->
              <div class="accordion__item js-accordion-item">
                 <div class="accordion-header js-accordion-header">Sub Panel 2</div> 
                 <div class="accordion-body js-accordion-body">
                   <div class="accordion-body__contents">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
                   </div><!-- end of sub accordion item body contents -->
                 </div><!-- end of sub accordion item body -->
              </div><!-- end of sub accordion item -->
            </div><!-- end of sub accordion -->
          </div><!-- end of accordion body -->
        </div><!-- end of accordion item -->
      </div><!-- end of accordion -->
      <br>
      <script src="../static/js/jquery-3.4.1.min.js"></script>
      <script src="../static/js/faq.js"></script>

    {% endblock %}
</body>
</html>